{% extends "base.html" %}
{% block outer_body %}
    <body class="border-primary d-flex flex-column">
        <div class="container-tight py-4">
            <div class="text-center mb-4">
                <a href="/admin/dashboard">
                    <img
                        src="https://preview.tabler.io/static/logo.svg"
                        width="110"
                        height="32"
                        alt="Tabler"
                        class="navbar-brand-image"
                    />
                </a>
            </div>
            <form class="card card-md" method="POST" enctype="multipart/form-data">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">
                        Login to your account
                    </h2>
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input name="username" type="text" class="form-control" placeholder="Enter your Username"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <div class="input-group input-group-flat">
                            <input name="password" type="password" class="form-control" placeholder="Enter your Password"/>
                            <span class="input-group-text"> </span>
                        </div>
                    </div>
                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary w-100">sign_in</button>
                    </div>
                </div>
            </form>


        </div>
    </body>
{% endblock %}