d{% extends "layout.html" %}
{% block page_body %}
<div class="col-12">
  <div class="card">
      <div class="card-header">
        <form action="/admin/tournaments/list/1" method="get" class="w-100">
          <div class="d-flex">
            <div class="d-flex ms-auto">
              <div class="mx-2">
                <div class="text-muted">
                  Codigo : 
                  <div class="d-inline-block">
                    <input class="form-control" type="text" name="codigo" value placeholder="">
                  </div>
                </div>
              </div>
              <div class="ms-2">
                  <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search me-2"></i>
                    {{ ('search') }}
                  </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-body border-bottom py-3 d-flex">
        <div id="toolbar-actions" class="ms-auto btn-list">
            <a class="btn btn-dark" href="/admin/tournaments/create">
                <i class="fas fa-plus me-2" aria-hidden="true"></i>
                create
            </a>
        </div>
      </div>
      <div class="table-responsive">
        <table id="data" class="table card-table table-vcenter text-nowrap datatable">
          <thead>
            <tr>
                    <th class="w-1">
                      <input class="form-check-input m-0 align-middle" type="checkbox" id="checkbox-select-all"/>
                    </th>
                    <th>id</th>
                    <th>codigo</th>
                    <th>Name</th>
                    <th>start_date</th>
                    <th>max_number_of_players</th>
                    <th>number_enrollment</th>
                    <th>game_mode</th>
                    <th>logo</th>
                    <th>tournament_rules</th>
                    <th></th>
            </tr>
          </thead>
          <tbody>
                  {% for tabla in tablas %}
                    <tr>
                      <td>
                        <input data-id="{{ tabla.id|int }}" class="form-check-input m-0 align-middle checkbox-select-item" type="checkbox"/>
                      </td>
                      <td>{{ tabla.id }}</td>
                      <td>{{ tabla.codigo }}</td>  
                      <td>{{ tabla.name }}</td>
                      <td>
                        {% if tabla.is_past %}
                          <span class="badge bg-red">
                        {% else %}
                          <span class="badge bg-green">
                        {% endif %}
                        {{ tabla.start_date }}</span>
                      </td>
                      <td>{{ tabla.max_number_of_players }}</td>
                      <td>{{ tabla.number_enrollment }}</td>
                      <td>{{ tabla.game_mode }}</td>
                      <td>{{ tabla.logo }}</td>
                      <td>{{ tabla.tournament_rules }}</td>
                      <td class="text-end">
                        <span class="dropdown">
                          <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">
                              {{ ('actions') }}
                          </button>
                          <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <a class="dropdown-item" href="/admin/tournaments/update/{{tabla.id}}">
                              <i class="ti ti-edit me-2"></i>
                              Update
                            </a>
                            <a class="dropdown-item" href="#" onclick="onAction('/admin/product/delete/198','DELETE')">
                              <i class="ti ti-edit me-2"></i>
                              Delete
                            </a>
                          </div>
                        </span>
                      </td>
                    </tr>
                  {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="card-footer d-flex align-items-center">
        <p class="m-0 text-muted"> Showing {{page_number}} to {{total_page}} of {{total_items}} entries </p>
        <ul class="pagination m-0 ms-auto">
          <li class="page-item {% if page_number <= 1 %} disabled {% endif %}">
            <a class="page-link" href="/admin/tournaments/list/{{page_number-1}}" tabindex="-1" aria-disabled="true">
              <i class="ti ti-chevron-left"></i>
              prev_page
            </a>
          </li>
          {% for i in range(1,total_page+1) %}
            <li class="page-item {% if i == (page_number or 1) %} active {% endif %}">
              <a class="page-link" href="/admin/tournaments/list/{{i}}" >{{i}}</a>
            </li>
          {% endfor %}
          <li class="page-item {% if page_number >= total_page %} disabled {% endif %}">
            <a class="page-link" href="/admin/tournaments/list/{{page_number+1}}">
              next_page
              <i class="ti ti-chevron-right"></i>
            </a>
          </li>
        </ul>

      </div>

  </div>
</div>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          {searchable: false},
          {searchable: false},
          {searchable: false},
          {orderable: true, searchable: true},
          {searchable: false},
          {searchable: false},
          {searchable: false},
          {searchable: false},
          {searchable: false}],
      });
    });
  </script>
{% endblock %}
