d{% extends "layout.html" %}
{% block page_body %}
<div class="col-12">
  <div class="card">
      <div class="card-header">
        <form action="/admin/login" method="get" class="w-100">
          <div class="d-flex">
            <div class="text-muted">
                    {{ ('show') }}
                    <div class="mx-2 d-inline-block">
                        <input
                          type="text"
                          class="form-control"
                          value="11"
                          size="2"
                          name="page_size"
                          aria-label="entries count"
                        />
                    </div>
                    {{ ('entries') }}
            </div>
            <div class="d-flex ms-auto">
              <div class="mx-2">
                <div class="text-muted">
                  Name : 
                  <div class="d-inline-block">
                    <input class="form-control" type="text" name="name" value placeholder="">
                  </div>
                </div>
              </div>
              <div class="ms-2">
                  <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search me-2"></i>
                    {{ ('search') }}
                  </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-body border-bottom py-3 d-flex">
        <div id="toolbar-actions" class="ms-auto btn-list">
            <a class="btn btn-dark" href="/admin/tournaments">
                <i class="fas fa-plus me-2" aria-hidden="true"></i>
                create
            </a>
        </div>
      </div>
      <div class="table-responsive">
        <table id="data" class="table card-table table-vcenter text-nowrap datatable">
          <thead>
            <tr>
                    <th class="w-1">
                      <input class="form-check-input m-0 align-middle" type="checkbox" id="checkbox-select-all"/>
                    </th>
                    <th>id</th>
                    <th>created_at</th>
                    <th>name</th>
                    <th>lastname</th>
                    <th>birthdate</th>
                    <th>phone</th>
                    <th>email</th>
                    <th>what_team_are_you_fan</th>
                    <th>from_what_age_are_you_fan</th>
                    <th></th>
            </tr>
          </thead>
          <tbody>
                  {% for tabla in tablas %}
                    <tr>
                      <td>
                        <input data-id="{{ tabla.id|int }}" class="form-check-input m-0 align-middle checkbox-select-item" type="checkbox"/>
                      </td>
                      <td>{{ tabla.id }}</td>
                      <td>{{ tabla.created_at }}</td>
                      <td>{{ tabla.name }}</td>  
                      <td>{{ tabla.lastname }}</td>
                      <td>{{ tabla.birthdate }}</td>
                      <td>{{ tabla.phone }}</td>
                      <td>{{ tabla.email }}</td>
                      <td>{{ tabla.what_team_are_you_fan }}</td>
                      <td>{{ tabla.from_what_age_are_you_fan }}</td>
                      <td class="text-end">
                        <span class="dropdown">
                          <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">
                              {{ ('actions') }}
                          </button>
                          <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <a class="dropdown-item" href="/admin/tournament/update/{{tabla.id}}">
                              <i class="ti ti-edit me-2"></i>
                              Update
                            </a>
                            <a class="dropdown-item" href="#" onclick="onAction('/admin/product/delete/198','DELETE')">
                              <i class="ti ti-edit me-2"></i>
                              Delete
                            </a>
                          </div>
                        </span>
                      </td>
                    </tr>
                  {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="card-footer d-flex align-items-center">
        <p class="m-0 text-muted">
          Showing 1 to 10 of 1 entries
        </p>

      </div>

  </div>
</div>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          {searchable: false},
          {searchable: false},
          {searchable: false},
          {orderable: true, searchable: true},
          {searchable: false},
          {searchable: false},
          {searchable: false},
          {searchable: false},
          {searchable: false}],
      });
    });
  </script>
{% endblock %}